.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    background-color: var(--primary-color);
    text-align: center;
}

.portrait {
    width: 60%;
}

.portrait img {
    border-radius: 50%;
    border: 10px solid var(--secondary-color);
}

.menu {
    min-height: 12rem;
}

.menu li {
    margin: 1rem 0;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    letter-spacing: .1rem;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.menu li a:active,
.menu li a:focus,
.menu li a:hover {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 800;
}